.download-button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  background-color: #FF0000;
}

.pdf-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: auto;
  padding-bottom: 50px;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
} 

.scrollable-container {
  overflow-x: auto;
  width: 90vw;
  padding: 5%;

}

.render-outside {
  position: absolute;
  left: -9999px;
  top: -9999px;
}